<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiswamcrm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/admin_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/admin_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile.ProfileActivity"></activity>
        <activity
            android:name=".AssignedMeetingsActivity"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoneDealsDecription"
            android:parentActivityName=".DoneDealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoneDealsActivity"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssignedMeetingsDescription"
            android:parentActivityName=".AssignedMeetingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StaffDetails" />
        <activity
            android:name=".StaffActivity"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait" />
        <activity android:name=".LeadDetailsWithOutBDMActivity" />
        <activity android:name=".LeadDetailsActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfilePhotoActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>